<table>
  <caption>My Games</caption>
  <thead>
    <tr>
      <th>Number</th>
      <th>Guesses</th>
      <th>Result</th>
    </tr>
  </thead>

  <tbody>
    <% @user.games.each do |game| %>
    <tr>
      <td><%= game.id %></td>
      <td><%= game.guesses_count %></td>
      <td><%= game.won? ? 'won' : 'lost' %></td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4">
        Start a new game
      </td>
    </tr>
  </tfoot>
</table>

<table>
  <caption>Leader board</caption>
  <thead>
    <tr>
      <th>User Id</th>
      <th>Wins</th>
      <th>Loses</th>
      <th>ANG</th>
    </tr>
  </thead>

  <tbody>
    <% @leaders.each do |leader| %>
    <tr>
      <td><%= leader.id %></td>
      <td><%= leader.games_won %></td>
      <td><%= leader.games_lost %></td>
      <td><%= leader.guesses_average %></td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
    
  </tfoot>
</table>